/Biconsumer.class
/Bifunction.class
/Bipredicate.class
/ConsumerInterface.class
/ForEach.class
/ObjPrimitiveConsumer.class
/Predefined.class
/PredicateInterface.class
/PrimitiveFunctionalInterface$1.class
/PrimitiveFunctionalInterface$2.class
/PrimitiveFunctionalInterface$3.class
/PrimitiveFunctionalInterface.class
/PrimitiveFunctions$1.class
/PrimitiveFunctions.class
/Student.class
/SupplierInterface$1.class
/SupplierInterface.class
/ToPrimitiveFunctions.class
/Unaryoperator.class
/details.class
/package-info.class
