/Addition.class
/BuildInFunInterface$1.class
/BuildInFunInterface.class
/IFunctional.class
/ImpClass.class
/Lambda.class
/MoreFunctionalInterfaces$1.class
/MoreFunctionalInterfaces$2.class
/MoreFunctionalInterfaces.class
/Runner$1.class
/Runner.class
/package-info.class
